<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ObjectivesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.intacomputers.com/Services/Objectives.asmx"
                binding="basicHttpBinding" bindingConfiguration="ObjectivesSoap"
                contract="ServiceReference1.ObjectivesSoap" name="ObjectivesSoap" />
        </client>
    </system.serviceModel>
</configuration>